@charset "utf-8";

$priColor: #333;
$secColor: #d9d9d9;
$pointColor: #a799ff;

body {
	color: $priColor;
}

$pc: 'screen and (min-width:768px)';

#login {
	display: none;
	max-width: 393px;
	height: 99vh;
	margin: 0 auto;
	text-align: center;
	// border: 1px solid #000;

	> form {
		text-align: center;
		> label {
			display: block;
			margin: 35vh 0 30px;
			font-weight: 600;
			font-size: 24px;
		}

		> input {
			background: none;
			border: none;
			outline: none;
			display: block;
			width: 60%;
			margin: 0 auto 100px;
			color: $pointColor;
			font-size: 22px;
			font-weight: 800;
			text-align: center;
			border-bottom: 2px solid $secColor;
		}

		> button {
			background: none;
			border: none;
			outline: none;
			width: 60%;
			padding: 10px 0;
			color: #fff;
			font-weight: 800;
			background-color: $pointColor;
			border-radius: 20px;
		}
	}
} //end of #login

#wrap {
	display: none;
	width: 100%;
	padding: 10px;

	font-size: 0.8em; //모바일에서는 em단위 사용
	line-height: 1.25em;

	box-sizing: border-box;
}

header {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	padding: 16px 0;
	text-align: center;
	> .datetime {
		> strong {
			margin-right: 5px;
		}
	}
	> h1 {
		order: 100;
		margin: 16px 0;
		font-size: 20px;
		line-height: 1.5;
	}
	> .quote {
		display: flex;
		flex-direction: column-reverse; //주축설정
		flex-wrap: wrap; //여러줄설정
		align-content: center; //교차축정렬
		margin-top: 24px;
		> q {
			display: block;
			width: 40%;
			line-height: 1.3;
			// border: 1px solid #000;
		}
		> .author {
			margin-top: 8px;
			font-size: 0.6em;
		}
	}
}

main {
	> section {
		margin-bottom: 16px;
		padding: 24px 0;
		border: 2px solid $pointColor;
		border-radius: 24px;
	}

	> section.weather {
		text-align: center;
		> h2 {
			.city {
				color: #7964ff;
			}
		} //end of h2
		> article.current {
			> img {
				width: 122px;
			}
			> h3 {
				font-size: 1.2rem;
			}
		} //end of .current

		> article.forecast {
			margin-top: 48px;
			> h3 {
				width: 60%;
				color: #7964ff;
				margin: 0 auto 16px;
				text-align: left;
			}
			> div {
				display: flex;
				justify-content: space-between;
				width: 55%;
				margin: 0 auto;
				> p {
					display: flex;
					align-items: center;
					> .frame {
						display: block;
						width: 72px;
						height: 72px;
						background-position: center center;
						background-size: cover;
					}
					> span {
						line-height: 1.5;
						text-align: left;
					}
				} //end of p
			}
		} //end of article
	} //end of .weather

	> section.Dday {
		position: relative;
		> .tit {
			display: flex;
			align-items: center;
			width: 90%;

			margin: 0 auto;
			padding: 10px 0 20px;
			border-bottom: 2px solid $secColor;
			> h2 {
				flex: 1 1 0; //플렉스컨테이너의 남는공간에 대한 비율설정
				text-align: center;
				> small {
					color: #ccc;
					&:hover {
						text-decoration: underline;
					}
					cursor: pointer;
				}
			}
			> i {
				color: $pointColor;
				font-size: 24px;
				cursor: pointer;
				&:hover {
					color: darken($pointColor, 10%);
				}
			}
		} //end of .tit

		> .inputBox {
			display: none;
			position: absolute;
			left: 50%;
			top: 70px;
			width: 90%;
			height: 48px;
			background-color: #fff;
			border: 3px solid #ccc;
			border-bottom-width: 3px;
			transform: translate(-50%, 0);
			box-sizing: border-box;

			@media #{$pc} {
				height: 58px;
			}

			&.show {
				display: block;
			}

			> form {
				&.on {
					display: flex;
				}

				display: none;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				padding: 10px 0;
				background-color: #fff;
				> label {
					padding: 0 10px;
				}
				> input[type='text'] {
					flex: 1;
					outline: none;
				}
				> input[type='date'] {
					margin: 0 5px;
				}
				> .insert {
					padding-right: 10px;
					font-size: 20px;
					background: none;
					border: none;
					outline: none;
					cursor: pointer;
				}
			} //end of p
		} //end of .inputBox

		> .list {
			overflow: auto;
			width: 90%;
			height: 150px;
			margin: 24px auto 0;
			> li {
				display: flex;
				align-items: center;
				margin-bottom: 24px;

				&.complete {
					text-decoration: line-through $pointColor;
				}

				&:last-child {
					margin-bottom: 0;
				}

				> i {
					font-size: 18px;
					color: $pointColor;
					&:hover {
						color: darken($pointColor, 10%);
					}
				}

				> h3 {
					padding: 0 10px;
					color: $pointColor;
					font-size: 20px;
				}

				> p {
					flex: 1; //flex:1 1 0; 와 같다
					font-size: 20px;
				}
			} //end of li
		} //end of .list
	} //end of .Dday

	> section.todo {
		padding-top: 0;
		> .inputBox {
			position: relative;
			width: 90%;
			height: 48px;
			margin: 0 auto;
			// background-color: #fff;
			// border: 1px solid #000;

			> form {
				&.on {
					display: flex;
				}
				display: none;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				padding: 10px 0;
				// background-color: #fff;

				> input {
					background: none;
					border: none;
					outline: none;
					flex: 1;
					padding: 12px;
					font-size: 16px;
					text-align: center;
					// background-color: #fff;
					border-bottom: 2px solid $secColor;
				}
			} //end of form
		} //end of .inputBox
		> .list {
			overflow: auto;
			width: 90%;
			height: 150px;
			margin: 24px auto 0;
			> li {
				display: flex;
				align-items: center;
				margin-bottom: 24px;

				&:last-child {
					margin-bottom: 0;
				}

				> i {
					color: $pointColor;
					font-size: 18px;
					&:hover {
						color: darken($pointColor, 10%);
					}
					&.del {
						margin-left: 10px;
					}
				} //end of i
				> h3 {
					flex: 1 1 0;
					padding: 0 10px;
					font-weight: 500;
					font-size: 20px;

					&.complete {
						text-decoration: line-through $pointColor;
					}
				}
			} //end of li
		} //end of .list
	} //end of todo
} //end of main

footer {
	line-height: 30px;
	text-align: center;
}

aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 3vw;
	top: 2vh;

	// background-color: #fff;

	> i {
		display: block;
		margin-bottom: 5px;

		//초기화버튼
		&.fa-trash-restore-alt {
			font-size: 15px;
		}

		&:hover {
			color: $pointColor;
			cursor: pointer;
		}
	}
}
